* {
    box-sizing: border-box;
}
section{
    display: flex;
    border: 1px solid black;
    border-radius: 3%;
    width: 350px;
    height: 200px;
    color: rgb(255, 255, 255);
    background: rgb(9,0,159);
    background: linear-gradient(90deg, rgba(9,0,159,1) 11%, rgba(0,0,157,1) 25%, rgba(4,17,202,1) 44%, rgba(4,4,199,1) 51%, rgba(4,8,200,1) 61%, rgba(0,212,255,1) 100%);
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 0 25px 0 25px;
    position: relative;
    overflow: hidden;
}

section p:nth-child(2) {
    font-size: 25px;
}
article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section::before{
    width: 165px;
    height: 165px;
    border-radius: 100%;
    background-color: rgba(195, 247, 247, 0.27);
    content: "";
    position:absolute ;
    margin: 0px 0px 100px 190px;
}
section::after{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background-color: rgba(195, 247, 247, 0.27);
    content: "";
    position:absolute ;
    margin: 0px 0px -150px 150px;
}